body {
  margin: 0;
  font-family: Inter, sans-serif;
}

header {
  height: 90px;
}

.nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  color: rgb(0, 200, 255);
  height: 100%;
  padding: 20px 25px;
}
.nav-item {
  font-weight: bold;
  font-size: 28px;
  padding-left: 10px;
}

main {
  margin: 80px 0 0 38px;
  position: relative;
}

.list-item {
  justify-content: space-between;
}

li::marker{
  color: rgb(0, 200, 255);
}
.img-bg{
  position: absolute;
  width: 450px;
  left: 500px;
}